name = "InitialValues"
uuid = "22cec73e-a1b8-11e9-2c92-598750a2cf9c"
authors = ["Takafumi Arakaki <aka.tkf@gmail.com>"]
version = "0.2.0"

[compat]
julia = "1.0"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
